@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

text[font-family=Sans-serif] {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
text[font-family=Monospace] {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.spec ellipse {
    stroke: #645ff7;
    fill: #eef9ff;
    fill-opacity: 0.5;
}

.spec text {
    fill: #0048f2;
}